@import './mixins.scss';

.product-list {
  @include flex(row, center, center);
  gap: 70px;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.product-card {
  background-color: #f9f2e8;
  padding: 22px 20px 0 20px;
  border-radius: 12px;
  text-align: center;
  width: 180px;
  height: clamp(180px, 23vh, 230px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    color: #BE9B7B;
  }
  
  &__image {
    max-width: 100%;
    height: clamp(100px,13vh,135px);
  }

  &__title {
    font-size: 1rem;
    margin-bottom: clamp(3px, 1.2vh, 10px);
    margin-top: clamp(3px, 1.2vh, 10px);
    font-style: italic;
  }

  &__price {
    text-align: right;
    margin: 0;
  }

  &__country {
    text-align: right;
    margin: 0 0 clamp(3px, 1vh, 14px) 0;
  }
  
  &.mode {
    background: #fff;
    height: clamp(190px, 26vh, 260px);
  }
}

