@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

:root {
  --font-main: 'Merienda', cursive;
  --color-black: #000;
  --color-white: #FFF;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 24px;
  --font-size-lg: 40px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-main), serif;
}

.text-black {
  color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.text-xs {
  font-size: var(--font-size-xs);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-md {
  font-size: var(--font-size-md);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.font-normal {
  font-weight: var(--font-weight-normal);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}
