@mixin hover-theme-color($light, $dark) {
  &.white:hover {
    color: $light;
  }

  &.black:hover {
    color: $dark;
  }
}

@mixin flex ($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}