@import './mixins.scss';

.nav {
  @include flex(row, space-between, center);
  white-space: nowrap;

  &__logo {
    @include flex(row, center, center);
    cursor: pointer;
    text-decoration: none;
    @include hover-theme-color(#DFCCAF, #BE9B7B);
  }

  &__icon {
    position: relative;
    top: -10px;
    width: 35px;
    height: 35px;
  }

  &__menu {
    @include flex(row, center, center);
    gap: 40px;

    .nav__item {
      cursor: pointer;
      text-decoration: none;
      @include hover-theme-color(#DFCCAF, #BE9B7B);
    }
  }
}