.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 0 0 142px;
  width: 216px;
  white-space: nowrap;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__icon {
    position: relative;
    top: -10px; /* поднимаем вверх */
    width: 35px;
    height: 35px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;

    .nav__item {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}