@import './mixins.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    @include hover-theme-color(#DFCCAF, #BE9B7B);
  }

  &__icon {
    position: relative;
    top: -10px;
    width: 35px;
    height: 35px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;

    .nav__item {
      cursor: pointer;
      text-decoration: none;
      @include hover-theme-color(#DFCCAF, #BE9B7B);
    }
  }
}