@import './mixins.scss';

.nav {
  @include flex(row, space-between, center);
  white-space: nowrap;

  &-wrapper {
    display: contents;
    @media (max-width: 768px) {
      display: block;
      position: sticky;
      top: 0;
      z-index: 100;
    }
  }

  &__logo {
    @include flex(row, center, center);
    cursor: pointer;
    text-decoration: none;
    @include hover-theme-color(#DFCCAF, #BE9B7B);

    &.active {
      color: #DFCCAF;
    }
  }

  &__icon {
    position: relative;
    top: -10px;
    width: 35px;
    height: 35px;
  }

  &__menu {
    @include flex(row, center, center);
    gap: 40px;

    .nav__item {
      cursor: pointer;
      text-decoration: none;
      @include hover-theme-color(#DFCCAF, #BE9B7B);
      &.active {
        color: #BE9B7B;
      }
    }
  }
}
