.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0 0 5.5vw;
  width: 20vw;
  white-space: nowrap;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: #DFCCAF;
    }
  }

  &__icon {
    position: relative;
    top: -10px;
    width: 35px;
    height: 35px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;

    .nav__item {
      cursor: pointer;
      &:hover {
        color: #DFCCAF;
      }
    }
  }
}