$color-white: #fff;
$color-black: #000;
@import './mixins.scss';

.transition {
  @include flex(row, center, center);
  gap: 25px;
}

.line {
  width: 60px;
  height: 1px;

  &__white {
    background-color: $color-white;
  }
  &__black {
    background-color: $color-black;
  }
}