.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 20px 0 0;
  font-family: Merienda, serif;
  width: 216px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &__logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    width: 35px;
    height: 35px;
    fill: white;
  }

  &__menu {
    display: flex;
    gap: 30px;

    .nav__item {
      font-size: 18px;
      cursor: pointer;
      font-family: Merienda, serif;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}