
.ourCoffee {
  background: url("../../assets/images/bg/ourCoffee_bg.png") center/cover no-repeat;
  width: 100%;
  height: clamp(200px, 32vh, 260px);

  .nav {
    padding: 5vh 0 0 5.5vw;
    width: 20vw;
  }

  &__title {
    margin: 0;
    padding-top: clamp(10px, 5vh, 65px);
    text-align: center;
  }
}

.aboutOurBeans{
  display: flex;
  justify-content: center;
  width: 100%;
  height: clamp(430px, 60vh, 485px);

  &__decor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    width: 700px;
    margin-top: 5vh;
    gap: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px clamp(30px, 5vh, 100px) 20px
  }

  &__text {
    width: clamp(200px, 35vw, 350px);
    margin-top: 25px;
    &-grid {
      text-align: center;
    }
  }

  &__transition {
    width: clamp(190px, 35vw, 240px);
    height: 1px;
    background-color: #000;
  }
}