@import './../components/mixins.scss';

.ourCoffee {
  background: url("../../assets/images/bg/ourCoffee_bg.png") center/cover no-repeat;
  width: 100%;
  height: clamp(200px, 32vh ,260px);
  overflow: hidden;

  .nav {
    padding: 5vh 0 0 5.5vw;
    width: 20vw;
  }

  &__title {
    margin: 0;
    padding-top: clamp(10px, 5vh, 65px);
    text-align: center;
  }
}

.buyingGoods {
  @include flex(column, center, center);
  margin-top: 5vh;

  &__content {
    @include flex(column, center, center);
    gap: 65px;
  }

  &__filter {
    @include flex(row, center, center);
    gap: 80px;
  }

  &__search {
    @include flex(row, center, center);
    gap: 20px;

    &-input {
      width: 180px;
      height: 30px;
      border-radius: 4px;
      background: #FFF;
      box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
      border: none;
      text-align: center;
    }
    &-btn {}
  }

  &__sort {
    @include flex(row, center, center);
    gap: 35px;

    &-text {

    }

    &__wrapperBtn {
      @include flex(row, center, center);
      gap: 5px;

      &-btn {
        width: 75px;
        height: 30px;
        border-radius: 4px 0 0 4px;
        background: #FFF;
        box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        border: none;

        &:hover {
          background: #DFCCAF;
        }

        &.active {
          scale: 1.1;
          border: 1px solid #000;
          background: #DFCCAF;
        }
      }
    }
  }
}

