$home-color-white: #fff;
$home-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$about-us-color-black: #000;
@import './../components/mixins.scss';

.home {
  background: url("../../assets/images/bg/home_bg.png") center/cover no-repeat;
  width: 100%;
  height: clamp(480px, 80vh, 640px);

  .nav {
    padding: 5vh 0 0 5.5vw;
    width: 20vw;
  }

  &__content {
    @include flex(column, center, center);
    margin-top: 8vh;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    padding-top: 35px;
    line-height: 44px;
    margin: 0;
    text-align: center;
  }

  &__btn {
    margin-top: 1.1vh;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #FFF;
    background: rgba(196, 196, 196, 0.00);
    box-shadow: $home-shadow;
    cursor: pointer;
    &:hover {
      color: #DFCCAF;
      background: rgba(196, 196, 196, 0.1);
    }
  }
}

.aboutUs {
  width: 100%;

  &__content {
    margin-top: 5.3vh;
    @include flex(column, center, center);
    padding: 0 20px clamp(30px, 5vh, 100px) 20px
  }

  &__title,
  &__text{
    margin-bottom: 20px;
    text-align: center;
  }

  &___text {
    margin-top: 25px;
  }
}

.ourBest {
  background: url("../../assets/images/bg/home-section_bg.png") center/cover no-repeat;
  width: 100%;
  height: clamp(340px, 60vh, 500px);

  @media (max-width: 768px) {
    height: 1000px;
  }

  &__title {
    padding: 8vh 0 6vh 0;
    margin: 0;
    text-align: center;
  }

  &__content {
    padding: 0 clamp(30px, 5vw, 100px);
  }
}