:root {
  --home-color-white: #FFF;
}

.home {
  background-image: url("../../assets/images/bg/home_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 959px;

  &__content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    padding-top: 181px;
    margin: 0 0 20px 0;
    color: var(--color-white);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-weight: 700;
  }

  &__transition {
    display: flex;
    gap: 25px;
    align-items: center;
    &__line {
      width: 60px;
      height: 1px;
      background-color: var(--home-color-white);
    }
  }

  &__subtitle {
    text-align: center;
    line-height: 44px;
    padding-top: 35px;
  }
}