.forYourPleasure {
  background: url("../../assets/images/bg/forYourPleasure.png") center/cover no-repeat;
  width: 100%;
  height: clamp(200px, 32vh ,260px);
  overflow: hidden;

  .nav {
    padding: 5vh 0 0 5.5vw;
    width: 20vw;
  }

  &__title {
    margin: 0;
    padding-top: clamp(10px, 5vh, 65px);
    text-align: center;
  }
}